* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    padding: 100px 15%;
    height: 100vh;
}

header {
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main #left-side .logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main #left-side h2 {
    position: absolute;
    top: 150px;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}